
.icon-mobile:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-picture:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\f0e0'; } /* '' */
.icon-youtube:before { content: '\f16a'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-facebook:before { content: '\f230'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-linkedin:before { content: '\f30c'; } /* '' */